# cp ./clap.service /etc/systemd/system/clap.service 
[Unit]
Description=clap2mqtt service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/home/robbert/projects/clap2mqtt/clap2mqtt
WorkingDirectory=/home/robbert/projects/clap2mqtt/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
